
.container {
    background-image: url("../images/achtergrond.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.titel{
    font-size: 3.5rem;
    text-align: right;
    padding-right: 50px;
    margin-bottom: 0px;
}

.element {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px, 0px, 5px;
    width: 900px;
    color: #E2E2E2;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 8px;
}

.element2 {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px, 0px, 5px;
    width: 900px;
    color: #E2E2E2;
    border-radius: 8px;
}


.headshot{
    width: 100%;
}

.menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    z-index: 1;
    border-right: 3px, solid, #EEB63C;
}

.menu a {
    padding: 6px 50px 6px 16px;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    display: block;
    text-align: right;
}

.menu a:hover {
    background-color: rgba(140, 140, 140, 0.37);
    border-radius: 
}

.flexbox {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    width: 70%;
    color: black;
}

.flexbox2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.geg-el {
    width: 40%;
    float: left;
    margin: 35px;
}

.portfolioflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

img {
    border-radius: 8px;
}
.portfolioflex img {
    width: 250px;
    height: 250px;
    padding: 10px 5px;
    border-radius: 8px;    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: grey;
}

.contact {
    padding: 50 px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact div {
    width: 40%;
    float: left;
}

.tag{
    text-align: right;
    padding-right: 50px;
    margin-bottom: 100px;
}

.socials{
    height: 40px;
}